body{
    overflow-x: hidden;
}
html{
    overflow-x:hidden ;
}
.inputBox{
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}
.inputBox input{
    flex:1;
    background-color: transparent;
    padding: 10px;
    border: 5px;
    padding-left: 0px;
    outline: 0;
    border: 0;

}
.inputBox i{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.inputContainer{
    margin-bottom: 20px;
}
.right{
    width: calc(100% - 30%);
}
.btnBlue{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    min-width: 120px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3B82F6;
    transition: all 0.3s ease;
    gap: 5px;
    
}
.btnBlue:hover{
    background-color: #2563eb;
}
.btnBlue i{
    font-size: 25px;
}
